/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avantFeature{
  background-color: rgb(26,43,109);
  padding-left: 12%;
  padding-top: 20px;
  padding-bottom: 100px;
  margin-bottom: -150px;
  color:rgb(255, 255, 255);
  font-family: serif;
  font-weight: 100;
}
.avantFeatureTitre{
  color:rgb(255, 255, 255);
  font-family: serif;
  font-weight: 100;
  font-size: 50px;
}
.avantFeatureText{
  color:rgb(255, 255, 255);
  font-family: serif;
  font-weight: 50;
}

.appli{
  background-color: rgb(242,242,242);
  padding-right: 58%;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 5%;
  color:rgb(26,43,109);
  font-family: serif;
  font-weight: lighter;
  font-size: 66px;
}
.tag{
  background-color: rgb(242,242,242);
  padding-left: 50%;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: -100px;
  color:rgb(0, 0, 0);
  font-family: serif;
  text-decoration: underline  rgb(26,43,109);
}
.header{
  padding-left: 10%;
}
.text_para_pos{
  padding-left: 12%;
  padding-top: 20px;
  padding-bottom: 100px;
  font-weight: 100;
  font-family: serif;
}