/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  font-family: "Lucida" Grande, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; /*
  -webkit-transform: translateZ(999px) scale(.7);
  transform: translateZ(999px) scale(.7);
  z-index: 1;*/
  margin-left: 7%;
  transform: translateZ(0px) scale(1);
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
}


.avantFeature{
  
  background-color: rgb(26,43,109);
  /*padding-left: 12%;*/
 
  padding-top: 20px;
  padding-bottom: 100px;
  margin-bottom: -150px;
  color:rgb(255, 255, 255);
  font-family: "Lucida" Grande, sans-serif;
  font-weight: 100;
  /*code shijie :*/
  width: 100%;
 
  text-align: center;
  transform: translateZ(0px) scale(1);
 
  
}
.avantFeature h1{
  /*font-size: 50px;
   code shijie :*/
  color:rgb(255, 255, 255);
  font-weight: 300;
  font-size: 70px;
}
/*.avantFeature p{
  font-size: 140%;
} code shijie :*/

.avantFeature h2{
  color:rgb(255, 255, 255);
  font-weight: lighter;
  font-size: 24px;
  margin-top: 55px;
}

.avantFeature p{
  color:rgb(255, 255, 255);
  font-weight: 100;
  font-size: 24px;
  height: 80px;
}

/*.appli{
  background-color: rgb(242,242,242);
  padding-right: 58%;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-left: 5%;
  color:rgb(26,43,109);
  font-family: serif;
  font-weight: lighter;
  font-size: 66px;
  margin-top: -200px;
}*/

.appli{
  color:rgb(255, 255, 255);
font-family: "Lucida" Grande, sans-serif;
  font-weight: 400;
  font-size: 150px;
  
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
width :100%;

margin-left: 7%;

transform: translateZ(0px) scale(1);
}
.tag{
  /*-webkit-transform: translateZ(999px) scale(.7);
  transform: translateZ(999px) scale(.7);
  z-index: 1;*/
  color:rgb(255, 255, 255);;
  font-family: "Lucida" Grande, sans-serif;
  text-decoration: underline  rgb(255, 255, 255);
  font-size: 30px;
  width: 100%;
  
  transform: translateZ(0px) scale(1);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
@media (max-width: 920px) {

  .appli{
    color:rgb(255, 255, 255);
  font-family: "Lucida" Grande, sans-serif;
    font-weight: 400;
    font-size: 80px;
    
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  
  
  margin-left: 7%;
  
  transform: translateZ(0px) scale(1);
  }
  .tag{
    /*-webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;*/
    color:rgb(255, 255, 255);;
    font-family: "Lucida" Grande, sans-serif;
    text-decoration: underline  rgb(255, 255, 255);
    font-size: 18px;
    width: 100%;
    
    transform: translateZ(0px) scale(1);
    position: absolute;
    top: 50%;
    left: 5%;
    right: 0;
  }
}
/*---fin---*/


.header{
  padding-left: 10%;
}

.avantAppli1{
  background-color: rgb(0, 0, 0);
  height: 300px;
  align-items: center;
}
/*.avantAppli2{
  background-color: rgb(26,43,109);
  height: 15px;
  align-items: center;
} code shijie :*/
.avantAppli2{
  background-color: rgb(26,43,109);
  height: 200px;
  align-items: center;
  margin-top: -10px;
}
.appareil{
  height:100%;
  width:100%;
  min-height: 700px;
  filter: brightness(80%);
  align-items: center;
  z-index: 1;


}
.perspective{
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  
}
/*.perspective1{
  perspective: 2px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  
}*/
.container{
 
  height: 110vh;/*
  -webkit-transform: translateZ(-999px) scale(1.2);
  transform: translateZ(-999px) scale(1.2);
  z-index: -1;*/
  width: 90.9%;
 
  text-align: center;
  max-width: 100%;
  align-items: center;
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
 /* transform: translateZ(-2px) scale(3);*/
}
.imageTitre{

  background:linear-gradient(rgba(50, 41, 41, 0.2), rgba(38, 34, 34, 0.2)), url(../../static/img/appareil.jpg);
  background-position: center top;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
  filter: brightness(90%);
  align-items: center;
  width: 110%;
  align-items: center;
  position: relative;
  height: 100vh;
  max-height: 95%;
  overflow-y: hidden;
}


.icone{
  height:6%;
  max-height: 100px;
  filter: brightness(80%);
  align-items: center;
  z-index: 1;
  
}

/*--fin--*/
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
 
}
.main-wrapper {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  
}